.feature{
    border: 1px #e0e0e0 solid;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.1rem;
    font-size: 12px;
}

.feature-content{
    flex:1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}

.feature-content-title{
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature-content-data{
    display: flex;
    flex-direction: column;
    gap:1rem; 
    margin-bottom: 1rem;
}

.feature-content-data-detail{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap:0.1rem
}

.feature-content-data-detail-title{
    font-size: 18px;
    font-weight: 600;
}

.feature-content-data-detail-text{
    font-size: 16px;
    color: #4f4f4f;
}

.feature-image{
    height: 100px;
    width: 120px;
    left: 0;
}

.feature-button{
    border-radius: 10px;
    font-size: 14px;
    padding: 0.5rem;
    background: blue;
    color: #e0e0e0;
}