.home{
    background: #EEEDFE;
    display: flex;
    border-radius: 1rem;
    padding: 14rem;
}

.home-sidebar{
    flex: 0;
}

.home-component{
    display: flex;
    flex: 1;
    gap: 1rem;
    background: #F7F6FE;
    padding-left: 1rem;
}

.home-component-item{
    flex: 1;
}

.home-component-item-info{
    flex: 0;
    margin-top: 0;
}

.home-component-item-detail{
    display: flex;
    gap: 1rem;
    flex: 1;
}

.home-component-item-detail-content{
    flex: 1;
    margin-bottom: 1rem;
}


.home-component-item-detail-content-end{
    flex: 1;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
