.banner{
    display: flex;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.banner-content{
    flex:1;
}

.banner-content-text{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.banner-content-text-title{
    flex:1;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.banner-content-text-container{
    display: flex;
}
.banner-content-text-subtitle{
    flex:1;
    font-size: 14px;
    font-style: 500;
}

.banner-content-icon{
    flex: 0;

}