.spending{
    border: 1px #e0e0e0 solid;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.1rem;
    font-size: 12px;
    text-align: left;
}

.spending-content{
    flex:1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}

.spending-content-header{
    display: flex;
}

.spending-content-header-icon{
    display: flex;
    align-self: center;
}

.spending-content-title{
    flex: 1;
    font-size: 18px;
    font-weight: 600;
}

.spending-content-data{
    display: flex;
    flex-direction: column;
}

.spending-content-data-item{
    flex: 1;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.spending-content-data-item-text{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.spending-content-data-item-title{
    display: flex;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    bottom: 0;
    align-items: flex-end;
}

.spending-content-data-item-date{
    flex: 1;
    display: flex;
    font-size: 12px;
    color: #D5D3DD;
    align-items: flex-start;
}

.spending-option{
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: #C1C2F0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
