.expense-income{
    border: 1px #e0e0e0 solid;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.1rem;
    font-size: 12px;
}

.expense-income-content{
    flex:1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}

.expense-income-content-data{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.expense-income-content-title{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.expense-income-content-item-top{
    display: flex;
    flex: 1;
    font-weight: 600;
}

.expense-income-content-item-center{
    display: flex;
    flex: 1;
    font-weight: 600;
    font-size: 18px;
}

.expense-income-content-item-bottom{
    display: flex;
    flex: 1;
    font-weight: 500;
    font-size: 10px;
    color: grey
}

.expense-income-content-item-text-left{
    flex: 1;
    text-align: left;
}

.expense-income-content-item-text-center{
    flex: 1;
    text-align: center;
}

.expense-income-content-item-text-right{
    flex: 1;
    text-align: right;
}


.expense-income-content-title{
    flex:1;
}

.expense-income-content-text{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.expense-income-content-icon{
    flex: 0;
}

.expense-income-content-badge{
    display: flex;
    gap: 0.25rem;
    padding-top: 0.5rem;
}

.expense-income-content-badge-expense{
    background: #505edc;
    padding: 1rem;
    width: 75%;
    border-radius: 0.25rem;
}

.expense-income-content-badge-income{
    background: #FEA80E;
    padding: 1rem;
    width: 25%;
    border-radius: 0.25rem;
}
