.expense-income{
    border: 1px #4f4f4f solid;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 0.1rem;
    font-size: 12px;
}

.expense-income-content{
    flex:1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}

.expense-income-content-title{
    margin-bottom: 1rem;
    text-align: left;
}

.expense-income-content-item{
    display: flex;
    flex-direction: row;
}

.expense-income-content-item-text{
    flex: 1;
    text-align: left;
}


.expense-income-content-title{
    flex:1;
}

.expense-income-content-text{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.expense-income-content-icon{
    flex: 0;
}

.expense-income-content-badge{
    display: flex;
    gap: 0.25rem;
    padding-top: 0.5rem;
}

.expense-income-content-badge-expense{
    background: blueviolet;
    padding: 1rem;
    width: 75%;
    border-radius: 0.25rem;
}

.expense-income-content-badge-income{
    background: orange;
    padding: 1rem;
    width: 25%;
    border-radius: 0.25rem;
}
