.balance{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    font-size: 12px;
}

.balance-content{
    flex:1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}

.balance-content-detail{
    flex: 1;
    display: flex;
    gap: 1rem;
}

.balance-content-detail-item-data{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.balance-content-detail-item-data-money{
    font-size: 20px;
    font-weight: 600;
}

.balance-content-detail-item-data-desc{
    font-size: 8px;
    color: #4f4f4f;
}

.balance-content-detail-item-data-status{
    font-size: 8px;
}

.balance-content-detail-item-data-info{
    font-size: 8px;
    color: #4f4f4f;
}

