.analytics{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    font-size: 12px;
    height: 100%;
    align-items: center;
}

.analytics-content{
    flex:1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}

.analytics-content-header{
 display: flex;
 margin-bottom: 1rem;
}

.analytics-content-title{
    flex: 1;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}
.analytics-content-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analytics-content-chart{
    display: flex;

}

.analytics-content-chart-blue{
    flex: 1;
    position: relative;
    z-index: 1;
    background: #505BE0;
    border-top-left-radius: 100%
}

.analytics-content-chart-orange{
    flex: 1;
    border-top-left-radius: 20%;
    background: #FDA60C;
}

.analytics-content-chart-red{
    flex: 1;
    background: #DF644E;
}

.analytics-content-chart-grey{
    flex: 1;
    background: #f4f4f4;
    border-top-right-radius: 100%
}


.analytics-content-chart-info{
    position: relative;
    z-index: 1;
    bottom: 4rem;
    background: white;
}

.analytics-content-chart-legend{
    display: flex;
    gap: 1rem;
}

.analytics-content-chart-legend-item{
    flex: 1;
    white-space: nowrap;
    display: flex;
    gap: 0.25rem;
}

.analytics-content-chart-legend-item-bullet{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    align-self: center;
}

.analytics-base-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 300px;
    border-radius: 150px 150px 0 0;
    background: linear-gradient(to right, #505BE0 0%,#505BE0 25%, #FDA60C 25%, #FDA60C 75%, #DF644E 75%,#DF644E 90%, #F0F0F0 75%, #F0F0F0 100%);
    margin-bottom: 1rem;
}

.analytics-base-chart-center{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 290px;
    border-radius: 150px 150px 0 0;
    background: white;
    margin-top: 0.5rem;

}

.analytics-base-chart-center-text{
    font-size: 24px;
    font-weight: 600;
    flex: 1;
    margin-top: 20%;
    text-align: center;
}
.analytics-base-chart-center-text-secondary{
    font-size: 18px;
    font-weight: 600;
    flex: 1;
    color: #D5D8DC;
    text-align: center;
}