.analytics{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    font-size: 12px;
}

.analytics-content{
    flex:1;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
}

.analytics-content-header{
 display: flex;
 margin-bottom: 1rem;
}

.analytics-content-title{
    flex: 1;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}
.analytics-content-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analytics-content-chart{
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: green;

}

.analytics-content-chart-blue{
    flex: 1;
    position: relative;
    z-index: 1;
    background: blue;
    border-top-left-radius: 100%
}

.analytics-content-chart-orange{
    flex: 1;
    border-top-left-radius: 20%;
    background: orange;
}

.analytics-content-chart-red{
    flex: 1;
    background: red;
}

.analytics-content-chart-grey{
    flex: 1;
    background: #f4f4f4;
    border-top-right-radius: 100%
}


.analytics-content-chart-info{
    position: relative;
    z-index: 1;
    bottom: 4rem;
    background: white;
}

.analytics-content-chart-legend{
    display: flex;
    gap: 1rem;
}

.analytics-content-chart-legend-item{
    flex: 1;
    white-space: nowrap;
    display: flex;
    gap: 0.25rem;
}

.analytics-content-chart-legend-item-bullet{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    align-self: center;
}
